.parent {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.navbar {
  /* row-start / col-start / row-end / col-end */
  grid-area: 1 / 1 / 2 / 13;
}

.titulo {
  /* background: grey; */
  grid-area: 2 / 3 / 3 / 7;
  color: #f1f1f1;
  vertical-align: middle;
  text-align: center;
  line-height: 125px;
  font-family: Chopin-Trial-Medium;
}

.descricao {
  /* background: grey; */
  grid-area: 3 / 3 / 4 / 7;
  color: #f1f1f1;
  text-align: justify;
  text-justify: inter-word;
  vertical-align: middle;
  font-family: Chopin-Trial-Medium;
  padding-left: 20px;
  padding-right: 20px;
}

.cta {
  grid-area: 4 / 3 / 5 / 7;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  grid-area: 2 / 7 / 5 / 11;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape {
  grid-area: 5 / 1 / 6 / 13;
  color: #f1f1f1;
  text-align: center;
  vertical-align: middle;
  line-height: 1fr;
  font-family: Chopin-Trial-Medium;
}

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.backgroundTexto {
  background: rgba(0, 0, 0, 0.5);
  grid-area: 2 / 3 / 5 / 11;
  border-radius: 25px;
}


* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  border-radius: 25px;
}

.imgSlider{
  width: 500px;
  height: 500px;
  object-fit: cover;
}
/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  grid-area: 2 / 7 / 5 / 11;
  /*background: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.dot_position {
  background-color: white;
  grid-area: 4 / 6 / 4 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px
  }
}

.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.loading {
    -webkit-animation: fadeout 0.8s linear 1 normal forwards;
      grid-area: 1 / 1 / 6 / 13;
}

@-webkit-keyframes fadeout{
    from{
       opacity: 1;
    }
    to{
        opacity: 0;
    }
}